<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" [opened]="menuVisible">  <!-- Name des Seitenbereichs ist sidenav -->
    <mat-nav-list (click)="closeMenu()">  <!-- Wenn man auf einen der Listenelemente klickt (click)="sidenav.close()"-->

      <mat-list-item>
        <mat-icon>app_registration</mat-icon>
        <span>Zeiterfassung</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>keyboard_double_arrow_down</mat-icon>
        <span>Übertrag zu Cats</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <app-main/>

</mat-sidenav-container>
