<div [formGroup]="form">
  <div>
    <mat-form-field>
      <mat-label>Buchungselement</mat-label>
      <mat-select formControlName="bookingelement">
        @for (element of bookingElements; track element.id) {
          <mat-option [value]="element.element">{{ element.element }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <input matInput formControlName="explainingText">
    </mat-form-field>
  </div>

</div>
